// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";

body {
  background-color: #edf0f2;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
p, a {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
hr {
  width: 50%;
}
.navbar {
  background-color: #489FDF;
  color: white;
  padding: 30px;
  height: 180px;
}
.navbar h1 {
  padding-top: 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
}
.navbar p {
  padding-top: 10px;
}
a:hover {
  font-size: 22px;
}
.card {
  color: #55595B;
  background-color: white;
  border-radius: 7px;
  box-shadow: 1px 1px 1px #d4d5d6;
  padding: 15px;
  margin: 15px;
}
.card a {
  color: #55595B;
  text-decoration: none;
  transition: 0.5s ease;
}
.wrapper {
  background-color: #edf0f2;
}
.card ul {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 3px;
}
.card h3 {
  margin: 15px auto;
}
.card h1, h2, h3 {
  text-align: center;
}
.padded {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
#restaurant-list {
  padding-left: 80px;
}
.footer {
  height: 100px;
  background-color: #35383a;
  padding: 40px;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: lighter;
}
